.typewriter-wrapper {
  padding: 48px;
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  font-size: 24px;
  letter-spacing: 0.15em;
  border-right: 2px solid #5dc03e;
  animation: blink-cursor 1s steps(1, end) infinite,
    typing 3.5s steps(50, end) 2s;
  animation-fill-mode: both;

  overflow: hidden;
  white-space: nowrap;
}

@keyframes blink-cursor {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #5dc03e;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
